.public-header{
    height: 110px;

}

.public-content{
    position: relative;
    margin: 0 auto;
    background: #006dcc;
    height: 100px;
    width: 1100px;
}

.public-footer{
    height: 318px;
    background: #3b3b3b;
}